body {
    background-color: #1a1a1a;
    color: #ccc;
    padding-top: 100px;
    padding-bottom: 10px;
    overflow-y: hidden;
    font-family: 'Unica One', 'Regular';
    text-transform: uppercase;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 370px;
}

hr {
    border-top: 1px solid #00a4f3;
}


.form-control {
    text-align: center;
    text-transform: uppercase
}

