@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>OpenWeatherApp</h3>
<p>
    What OpenWeatherMap is for you:
    Current conditions and forecast for 200,000+ cities and any geo location
    Historical data
    Simple and clear API
    Interactive weather maps and satellite maps
    Raw data from 40,000+ weather stations
    24/7 tech support via our Support Center
</p>
