@{
    ViewBag.Title = "Weather Home";
}
<div class="jumbotron">
    <h1>Open Weather App</h1>
    <p class="lead">  The Map under construction. Full functionality with HighChart (Temperature and Humidity).</p>
    <p class="lead">The Charts are generated on a regular basis. </p>
    <p><a href="https://openweathermap.org/" class="btn btn-primary btn-lg">Source &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Let's start!</h2>
        <p>
            Simple and fast MVC APP. Access to current weather and historical data in JSON, XML, and HTML formats. A variety of map layers are available including precipitation, temperature and many more.
        </p>
        <p class="btn btn-primary btn-sm"> @Html.ActionLink("Try now!", "Index", "WeatherApi")</p>
    </div>

    <div class="col-md-4">
        <h2>Search by City Name</h2>
        <p>You can call by city name or city name and country code. API responds with a list of results that match a searching word.</p>
    </div>
    <div class="col-md-4">
        <h2>
            Meteorological models
        </h2>
        <p>VANE platform collects processed weather forecast data. Calculation of the global forecasts require incredible computing power, and unfortunately we don't have an IBM Watson (yet).</p>
    </div>

</div>