@model  IEnumerable<WeatherApp2.ModelsView.WeatherSnap>


@{
    ViewBag.Title = "Weather Charts";

}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/Charts/highcharts.js"></script>
    <script src="~/Scripts/Charts/exporting.js"></script>
    <script>


        $(document).ready(function () {
            $("button").click(function () {

                var city = $("#SearchString").val();

                $.getJSON("/WeatherApi/GetData?SearchString=" + city, function (data) {

                    Highcharts.chart('containerTemp', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Temperature in: ' + city
                        },
                        subtitle: {
                            text: 'Source: OpenWeatherMap'
                        },
                        xAxis: {
                            categories: data.Times
                        },
                        yAxis: {
                            title: {
                                text: 'Temperature (°C) /Hour'
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: false
                            }
                        },
                        series: [{
                            name: city,
                            data: data.Temps
                        }]
                    });

                    Highcharts.chart('containerHum', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Humidity in: ' + city
                        },
                        subtitle: {
                            text: 'Source: OpenWeatherMap'
                        },
                        xAxis: {
                            categories: data.Times
                        },

                        yAxis: {
                            title: {
                                text: 'Humidity (%) / Hour'
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: false
                            }
                        },
                        series: [{
                            name: city,
                            data: data.Humidities
                        }]
                    });

                });

            });
        });


    </script>
</head>

<body>

    <div class="jumbotron">
        <form>
            <p>
                <input id="SearchString" type="text" placeholder="City Name" />
                <button type="button">Search</button>
            </p>
        </form>

        <div id="containerTemp" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="containerHum" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>





</body>
</html>

